<div class="row row-grid">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-12 col-sm-12" [routerLink]="['notification']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-bulb-63 text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">notification</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 " [routerLink]="['prayer-list']">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="tim-icons icon-planet text-warning"> </i>
                            </div>
                            </div>
                            <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p></p>
                                <p class="card-category">Request</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" [routerLink]="['radio']">
            <div class="card card-stats ">
                <div class="card-body">
                <div class="row">
                    <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-volume-98 text-white"> </i>
                    </div>
                    </div>
                    <div class="col-7 col-md-8">
                    <div class="numbers">
                        <p></p>
                        <p class="card-category">Live Radio</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-lg-12 col-sm-12 " [routerLink]="['podcast']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-sound-wave text-info"> </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">Podcast</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-sm-12" [routerLink]="['create']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-credit-card text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">create article</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" [routerLink]="['createPub']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-single-copy-04 text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">Create publication</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" [routerLink]="['createadvert']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-email-85 text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">create Advert</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" [routerLink]="['create-min']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-email-85 text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">create Ministry</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" [routerLink]="['create-event']">
                <div class="card card-stats">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-email-85 text-success">
                            </i>
                        </div>
                        </div>
                        <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p></p>
                            <p class="card-category">create event</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

