<div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">GSWMI•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" > Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/create" > Dashboard </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup"> Register </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog">
                Blog
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/GbengaWemimo"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/showlinks2404"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.instagram.com/harmonywemimo/"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
