<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />

        <img class="path2" src="assets/img/path2.png" />

        <img class="shapes triangle" src="assets/img/triunghiuri.png" />

        <img class="shapes wave" src="assets/img/waves.png" />

        <img class="shapes squares" src="assets/img/patrat.png" />

        <img class="shapes circle" src="assets/img/cercuri.png" />

        <div class="row scroll">
            <section class="section section-lg section-safe pl-5 ml-5">
                <img class="path" src="assets/img/path5.png" />
                <button *ngIf="nexturl!=''" (click)='getNext()' class="btn btn-primary">Next</button>
                <div class="container">
                  <div class="row row-grid justify-content-between">
                    <div class="col-lg-4 col-md-12 col-sm-12" *ngFor = 'let i of podcastlist' >
                      
                        <div class="card" style="width: 20rem;">
                            <img class="fit-picture"
                            src="{{ i.image_url }}"
                            alt="{{ i.title }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ i.title }}</h4>
                            <audio id="myAudio" controls> 
                                <source src="{{ i.playback_url }}" type="audio/mpeg">               
                            </audio>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>

