      <div class="row">
          <section class="section section-lg section-safe">
              <img class="path" src="assets/img/path5.png" />
              <button *ngIf="nexturl!=''" (click)='getNext()' class="btn">Next</button>
              <div class="container scroll ">
                <div class="row row-grid justify-content-center">
                  <div class="col-lg-6 col-md-12 col-sm-12" *ngFor = 'let i of podcastlist' >
                    
                      <div class="card" style="width: 20rem;">
                          <img class="fit-picture"
                          src="{{ i.image_url }}"
                          alt="{{ i.title }}">
                      <div class="card-body">
                          <h4 class="card-title">{{ i.title }}</h4>
                          <audio id="myAudio" controls> 
                              <source src="{{ i.playback_url }}" type="audio/mpeg">               
                          </audio>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
            </section>
      </div>

