
<body>
    <div class="pt-5 m-5 row">
    
    <div class="pt-5 container">
        <div class="col-md-6 offset-md-3">

        <!--Contact Section-->
        <section class="contact-section">
            <!--Map Section-->
            <section class="map-section">
                <!--Map Outer-->
                <div class="map-outer">
                    <!--Map Canvas-->
                </div>
            </section>
                <!--End Map Section-->
            <div class="auto-container">    
                <div class="row clearfix">
                    <!--Form Column-->
                    <div class="form-column col-lg-8 col-md-12 col-sm-12">
                        <div class="sec-title">
                            <h2>Contact Form</h2>
                        </div>
                        <div class="text">We Answer during 24 hours in working days.</div>
                        <!--Contact Form-->
                        <div class="contact-form">
                            <form method="post">
                                <div class="clearfix">
                                    <div class="form-group">
                                        <label for="forfullname">Full name</label>
                                        <input type="text" class="form-control" id="fullname" aria-describedby="textbox" placeholder="Enter Fullname">
                                    </div>
                                    <div class="form-group">
                                        <label for="phonenumber">Phone Number</label>
                                        <input type="number" class="form-control" id="phonenumber" aria-describedby="number" placeholder="Enter Phone number">
                                    </div>
                                    <div class="form-group">
                                        <label for="forContact">Contact Address</label>
                                        <input type="text" class="form-control" id="contact" aria-describedby="textbox" placeholder="Enter Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea">Message</label>
                                        <textarea type="text" class="form-control" id="message" aria-describedby="textbox" placeholder="Message Here"></textarea>
                                    </div>
                                    
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <!--Info Column-->
                    <div class="info-column col-lg-4 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <h2>Contact Info</h2>
                            </div>
                            
                            <ul class="info-list">
                                <li>GSWMI, Nigeria, Lagos</li>
                                <li>Phone: +(234) 8168518511 
                                <li>General: gbenga@gswmi.com <br> Editor: hello@gswmi.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!--End Contact Section-->
        </div>
        </div>
    </div>