<div class="row" >
    <div class="auto-container">
        <div class="form-column col-lg-12 col-md-6 offset-md-2" >
            <form class="form" (ngSubmit)="onSubmit()" [formGroup]="postForm">
                <div class="clearfix">
                  <div class= "form-group">
                    <input
                    name="title"
                    class="form-control"
                    formControlName="title"
                    placeholder="Topic of your Article"
                    type="text"/>
              
                  <span *ngIf="postForm.get('title').invalid||(
                    postForm.get('title').dirty||
                    postForm.get('title').touched)">
                    Title is required
                  </span>
                  </div>
                </div>
              
                <div class="">
                  <editor
                  rel="preload"
                    apiKey="oxwm77wl16thrx1ue1auzeztauhj868656g2gjv239pbz4fy"
                    formControlName="text"
                    (onInit)="handleEditorInit($event)"
                    [init]="{
                      icons: 'bootstrap',
                      skin: 'borderless',
                      plugins: 'wordcount',
                      menubar: true,
                      min_height: 150
                    }"
                  ></editor>
              
                  <div class="form-group">
                    <div *ngIf="postForm.controls.text.hasError('maxlength')">
                      Your post exceeds exceeds the character limit
                      {{ postForm.controls.text.getError('maxlength').actualLength }} /
                      {{ postForm.controls.text.getError('maxlength').requiredLength }}
                    </div>
              
                    <div *ngIf="postForm.controls.text.touched && postForm.controls.text.hasError('required')">
                      This form is required
                    </div>
                    <div *ngIf="error">
                      {{error}}
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>


    </div>
    </div>
