<div class="row" >
    <div class=" container">
        <div class="col-lg-7 col-md-6 offset-md-2" >
            <form (ngSubmit)="onSubmit()" [formGroup]="postForm">
                <div class="title">
                  <input
                    name="title"
                    formControlName="title"
                    placeholder="Topic of your Article"
                    type="text"/>
              
                  <div *ngIf="postForm.controls.title.hasError('required')">
                    Title is required
                  </div>
                </div>
              
                <div class="form-group">
                  <editor
                    apiKey="oxwm77wl16thrx1ue1auzeztauhj868656g2gjv239pbz4fy"
                    formControlName="text"
                    (onInit)="handleEditorInit($event)"
                    [init]="{
                      icons: 'material',
                      skin: 'borderless',
                      plugins: 'wordcount',
                      menubar: false,
                      min_height: 150
                    }"
                  ></editor>
              
                  <div class="form-group">
                    <div *ngIf="postForm.controls.text.hasError('maxlength')">
                      Your post exceeds exceeds the character limit
                      {{ postForm.controls.text.getError('maxlength').actualLength }} /
                      {{ postForm.controls.text.getError('maxlength').requiredLength }}
                    </div>
              
                    <div *ngIf="postForm.controls.text.touched && postForm.controls.text.hasError('required')">
                      This form is required
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>


    </div>
    </div>
