<div class="row row-grid">
        <div class="col-lg-12 col-md-12">
                <div class="row" *ngFor = 'let i of prayerlist'>

                <h1 class="text-white">
                        {{ i.prayer_point }}  <br />

                        <!-- <span class="text-white"> International </span> -->
                </h1>
                <p class="text-white mb-3">
                        {{ i.name }}
                </p>
                
                <p class="text-white mb-3">
                        {{ i.email }}
                </p>
                <p class="text-white mb-3">
                        {{ i.date }}
                </p>

                </div>
        </div>
</div>