<div class="row row-grid">
        <div class="col-lg-12 col-md-12">
            <div class="card card-stats">
                <div class="card-body">        
                <div class="row" *ngFor = 'let i of prayerlist'>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h1 class="text-white">
                        {{ i.prayer_point }}         
                    </h1>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                        <p class="text-white mb-3">
                                {{ i.name }}
                        </p>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12">
                        <p class="text-white mb-3">
                                {{ i.email }}
                        </p>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="text-white mb-3">
                        {{ i.date }}
                </p>
                </div>

                <div>
                </div>
                </div>
                </div>
            </div>
        </div>
</div>