.navbar {

    font-weight: bold;
}


.btn.btn-primary {
    color: #4e9de1;
    border-color: #4e89e1;
    background: transparent;
}

.navbar.bg-primary {
    background-color: #051a2f !important;
}