<div class="wrapper">
    <div class="container text-center section">
        <div class="col-12 col-md-12 col-sm-12 pt-5">
        <ngb-carousel *ngIf="speakers">
            <ng-template ngbSlide *ngFor="let speaker of speakers">
            <div class="picsum-img-wrapper">
                <img src={{speaker.profile_image}} alt="{{speaker.username}}">
            </div>
            <div class="carousel-caption">
                <h3><b>{{speaker.last_name}} {{speaker.first_name}}</b></h3>
              </div>
            </ng-template>
        </ngb-carousel> 
        </div>   
    </div> 
    <section class="">
        <section class="">
          <div class="container">
            <div class="row row-grid justify-content-between">
              <div class="col-md-12 mt-lg-5 p-2 m-2">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <div class="card card-stats bg-default p-2">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                              <i class="tim-icons icon-volume-98 text-white"> </i>
                            </div>
                          </div>
                          <div class="col-7 col-md-8">
                            <div class="numbers">
                              <!-- <p class="card-title">3,653</p> -->
                              <p></p>
                              <p class="card-category">Find Speakers Below</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </section>
    <section class="">
    <section class="">
    <div class="container" *ngFor='let speaker of speakers'>
        <div id='' class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-lg-6 col-md-7 col-sm-12">
            <h1 id="dispalynone" class="text-white text-info">
                {{speaker.last_name}} {{speaker.first_name}}  <br />
            </h1>
            <p class="text-white" >
                {{speaker.bio}}
            </p>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
            <div class="container">
            <p class="text-white"*ngIf='speaker.profile_image' >
                <img src="{{speaker.profile_image}}" alt="{{speaker.username}}">
            </p>
            <p><br/></p>
            <div class="align-items-center"><h1 class="text-white" ></h1></div>
            </div>
            </div>
        </div>
    </div>
    <button *ngIf="nextUrl" (click)='getNext()' class="btn">Next</button>
    <button *ngIf="previousUrl" (click)='getPrevious()' class="btn">Previous</button>
    </section>
    </section>
    <section class="">
    <img class="path" src="assets/img/path4.png" />

    <div class="col-md-12">
    <div class="card card-chart card-plain">
        <div class="card-body">
            <app-adverts></app-adverts>
        </div>
    </div>
    </div>
    </section>
    <section class="">
    <img class="path" src="assets/img/path3.png" />
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="card card-coin card-plain">
            <div class="card-header">
            <img class="img-center img-fluid" src="assets/img/gswmi.jpeg" />
            </div>
            <div class="card-body">

            <div class="row text-center">
                <h3><span class=""> Welcome, friend. 
            These are uncertain times filled with anxiety and suffering, 
            and you may be wrestling with difficult questions, 
            or perhaps need a message of encouragement or hope. 
            May we offer to pray for you and your concerns? </span> </h3>
            </div>
            </div>
            <div class="card-footer text-center">
            <button type="button" class="btn btn-info btn-simple" routerLink="/prayer">Submit Prayer Request</button> 
            </div>
        </div>
        </div>
    </div>
    </div>
    </section>
</div>