<app-navbar></app-navbar>

<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />

        <img class="path2" src="assets/img/path2.png" />

        <img class="shapes triangle" src="assets/img/triunghiuri.png" />

        <img class="shapes wave" src="assets/img/waves.png" />

        <img class="shapes squares" src="assets/img/patrat.png" />

        <img class="shapes circle" src="assets/img/cercuri.png" />

        <div class="pt-5 mt-5 row" >
        <div class="pt-5 container">

            <div class="col-lg-7 col-md-6 offset-md-2" >
                <form (ngSubmit)="prayerSubmit()" *ngIf="posted==false">
                    <div class="form-group"> 
                      <label for="exampleInputEmail1">Name</label>
                      <input id="postborder" [(ngModel)]='prayerModel.name' name="name" type="text" class="form-control" placeholder="Enter Name" required>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input id="postborder" [(ngModel)]='prayerModel.email' name="email" type="email" class="form-control" placeholder="Enter email" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
        
                    <div class="form-group">
                      <label for="exampleInputPassword1">Prayer Point</label>
                      <!-- <input [(ngModel)]='prayerModel.prayer_point' name="prayer_point" type="text" class="form-control" placeholder="Enter Name" required> -->
                      <!-- <input type="text" [(ngModel)]='prayerModel.prayer_point'  class="form-control" > -->
                      <textarea required id="postborder" [(ngModel)]='prayerModel.prayer_point' name="prayer_point" class="form-control"></textarea>                   
                    </div>        

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <div *ngIf="posted==true">
                    <p>Successfully Posted</p>
                  </div>
            </div>


        </div>
        </div>
    </div>
</div>
  