<app-navbar></app-navbar>
<body>
<div class="pt-5 mt-5 row" *ngIf="!token">
  <div class="pt-5 container">
      <div class="col-md-6 offset-md-3">
          <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control"formControlName="username" id="userUsername"  placeholder="Enter Username">
                <span *ngIf="loginForm.get('username').invalid &&(
                  loginForm.get('username').dirty||
                  loginForm.get('username').touched)"><br />username is required</span>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control"  formControlName="password" id="userPassword" placeholder="Password">
                <span *ngIf="loginForm.get('password').invalid && (
                  loginForm.get('password').dirty||
                  loginForm.get('password').touched)"><br />password is required </span>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <div class="col-sm-12">
                <span *ngIf="error">{{ error.statusText }}<br /></span>
              </div>
            </form>
      </div>
  </div>
</div>
</body>