<app-navbar></app-navbar>
<body>
<div class="pt-5 mt-5 row">
  <div class="pt-5 container">
      <div class="col-md-6 offset-md-3">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username" name="login-username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="userUsername"  placeholder="Enter Username">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" name="login-password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="userPassword" placeholder="Password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
              
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="/register" class="btn btn-link">Register</a>
              </div>
            </form>
            
      </div>
  </div>
</div>
</body>