    <div class="container  mt-5 pt-5">
        
        <div class="row pt-5 row-grid justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let post of article" >
            <div class="card" style="width: 20rem;">
                <figure *ngIf="post.featured_image">
                    <img class="fit-picture" src="{{post.featured_image}}"
                            alt="{{post.title}}">
                    <figcaption>{{post.title}}</figcaption>
                </figure> 
                <figure>
                    <img *ngIf="!post.featured_image" class="fit-picture" src="assets/img/fabien-bazanegue.jpg"
                            alt="{{post.title}}">
                    <figcaption>{{post.title}}</figcaption>
                </figure>
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                <p class="card-text" [innerHTML]="post.summary"></p>
                <button (click)="getContentById(post.id)" type="submit" class="btn">Read more</button>
            </div>
            </div>
        </div>
        </div>
        <button *ngIf="nextUrl" (click)='getNext()' class="btn">Next</button>
        <button *ngIf="prevoiusUrl" (click)='getNext()' class="btn">Previous</button>
    </div>



