<app-navbar></app-navbar>

<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />

        <img class="path2" src="assets/img/path2.png" />

        <img class="shapes triangle" src="assets/img/triunghiuri.png" />

        <img class="shapes wave" src="assets/img/waves.png" />

        <img class="shapes squares" src="assets/img/patrat.png" />

        <img class="shapes circle" src="assets/img/cercuri.png" />

        <div class="pt-5 mt-5 row" >
        <div class="pt-5 container">

            <div class="col-lg-7 col-md-6" *ngFor = 'let i of bloglist'>
            <h1 class="text-white">
                {{ i.title }}  <br />

                <!-- <span class="text-white"> International </span> -->
            </h1>
            <p class="text-white mb-3">
                    {{ i.summary }}
            </p>
            <div class="btn-wrapper mb-3">
                <p class="category text-success d-inline mr-1">More </p>
                <a
                class="btn btn-success btn-link btn-sm"
                routerLink='/blog-details/{{ i.id }}'
                >
                <i class="tim-icons icon-minimal-right"> </i>
                </a>
            </div>
            </div>


        </div>
        </div>
    </div>
</div>
  