<body class="section">
    <div class="section-lg">
        <h2> We Hold Service Everyday to keep you Filled with the Words of Wisdom</h2>
    </div>
    <div class="container"> 
        <ul class="social-icon-one alternate">
            <li class="share">Share:</li>
            <li class="btn btn-icon btn-simple btn-round btn-neutral"><a href="#"><span class="fab fa-facebook" [socialShare]="'fb'"></span></a></li>
            <li class="btn btn-icon btn-simple btn-round btn-neutral"><a href="#"><span class="fab fa-twitter" [socialShare]="'tw'"></span></a></li>
            <li class="btn btn-icon btn-simple btn-round btn-neutral"><a href="#"><span class="fab fa-linkedin" [socialShare]="'in'"></span></a></li>
            <li class="btn btn-icon btn-simple btn-round btn-neutral"><a href="#"><span class="fab fa-pinterest-p" [socialShare]="'pn'"></span></a></li>
        </ul>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 align-items-center pt-5 mt-lg-5 mt-sm-5">
        <iframe rel="preload" as="embed" src="https://mixlr.com/users/8559625/embed?color=1851be&autoplay=true" 
        width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0">
      </iframe><small><a href="https://mixlr.com/gswmi" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;">gswmi is on Mixlr</a></small>
      </div>
      <div class="section-lg">
        <h2> Find our Past Podcast here:</h2>
        <p>Just click on anyone of them to listen:</p>
    </div>
    <app-podcast></app-podcast>    
</body>

