<app-dashboard-nav></app-dashboard-nav>
<body>
  <div class="wrapper">
    <div class="page-header">
      <img class="path" src="assets/img/blob.png" />
  
      <img class="path2" src="assets/img/path2.png" />
  
      <img class="shapes triangle" src="assets/img/triunghiuri.png" />
  
      <img class="shapes wave" src="assets/img/waves.png" />
  
      <img class="shapes squares" src="assets/img/patrat.png" />
  
      <img class="shapes circle" src="assets/img/cercuri.png" />
  
      <div class="">
        <div class="row" >
        <div class="container">
     
        <div class="col-lg-3 col-md-5 col-sm-12">
          <ul class="list-group">
            <li class="list-group-item first-list">My Account</li>
            <a><li class="list-group-item"> Create Post</li></a>
            <a><li class="list-group-item"> Create category</li></a>
            <a><li class="list-group-item"> Forget Password</li></a>
            <a><li class="list-group-item"> Logout</li></a>
            

        </ul>
        </div>

          <div class="col-lg-7 col-md-6">
            <app-dashboard-info></app-dashboard-info>
            <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
          </div>

        </div>
        </div>
      </div>
    </div>



  </div>
  
</body>