<app-dashboard-nav></app-dashboard-nav>
<body>
  <div class="wrapper">
    <div class="page-header">
      <img class="path" src="assets/img/blob.png" />
  
      <img class="path2" src="assets/img/path2.png" />
  
      <img class="shapes triangle" src="assets/img/triunghiuri.png" />
  
      <img class="shapes wave" src="assets/img/waves.png" />
  
      <img class="shapes squares" src="assets/img/patrat.png" />
  
      <img class="shapes circle" src="assets/img/cercuri.png" />
  
      <div class="">
        <div class="row" >
        <div class="container">
     
        <div class="col-lg-3 col-md-5">
          <ul class="list-group">
            <li class="list-group-item first-list">My Account</li>
            <a><li class="list-group-item"> Create Post</li></a>
            <a><li class="list-group-item"> Create category</li></a>
            <a><li class="list-group-item"> Forget Password</li></a>
            <a><li class="list-group-item"> Logout</li></a>
            

        </ul>
        </div>

          <div class="col-lg-7 col-md-6">
            <h1 class="text-white">
              Gbenga Samuel Wemimo Ministry  <br />
  
              <span class="text-white"> International </span>
            </h1>
            <p class="text-white mb-3">
          Gbenga Samuel-Wemimo is a minister of the Gospel, 
          an evangelist, a counsellor, a discipler, a teacher 
          and a preacher whose gift through the power of the 
          Holy Spirit is for the edification of the church and
          deepening the Individual believer's walk with the Holy Spirit...
            </p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline mr-1">More Ministries</p>
              <a
                class="btn btn-success btn-link btn-sm"
                href="javascript:void(0)"
              >
                <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </div>
            <div class="btn-wrapper">
              <div class="button-container">
                <button
                  class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-twitter"> </i>
                </button>
                <button
                  class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </button>
                <button
                  class="btn btn-icon btn-simple btn-round btn-neutral"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-facebook"> </i>
                </button>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>



  </div>
  
</body>