<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6 pt-5 mt-lg-5">
          <h1 class="text-white">
            Gbenga Samuel Wemimo Ministry  <br />

            <span class="text-white"> International </span>
          </h1>
          <p class="text-white mb-3">
        Gbenga Samuel-Wemimo is a minister of the Gospel, 
        an evangelist, a counsellor, a discipler, a teacher 
        and a preacher whose gift through the power of the 
        Holy Spirit is for the edification of the church and
        deepening the Individual believer's walk with the Holy Spirit...
          </p>
          <div class="btn-wrapper mb-3">
          </div>
          <div class="btn-wrapper">
            <div class="button-container">
              <!-- <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-twitter"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                (click)="onwhatsappclick()"
                
              >
                <i class="fab fa-whatsapp"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral"
                href="javascript:void(0)"
              >
                <i class="fab fa-facebook"> </i>
              </button> -->
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <iframe src="https://mixlr.com/users/8559625/embed?color=1851be&autoplay=true" width="180%" height="280px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="https://mixlr.com/gswmi" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;">gswmi is on Mixlr</a></small>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5 mt-lg-5 p-2 m-2">
            <div class="row ">
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-planet text-warning"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">4 Solid</p>
                          <p></p>
                          <p class="card-category">Ministries</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats upper bg-default p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-volume-98 text-white"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,653</p>
                          <p></p>
                          <p class="card-category">Live Radio</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-sound-wave text-info"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">593</p>
                          <p></p>
                          <p class="card-category">Podcast</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-credit-card text-success">
                          </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">10,783</p>
                          <p></p>
                          <p class="card-category">Article</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <h1>
                A Man after God's <br />

                  own heart
              </h1>
              <p>
                Gbenga Samuel-Wemimo is a man after God's own heart. 
                He lives, eats and breathes the consciousness of the love of the father and sees only testimonies of his love. 
              </p>
              <br />

              <p>
                He holds a degree in Mass Communications obtained from Bowen University in Iwo, and a diploma in theology from the Bible College of the Redeemed Christian Church of God, RCCG.
              </p>
              <br />

              <a
                class="font-weight-bold text-info mt-5"
                href="javascript:void(0)"
              >
                Show all <i class="tim-icons icon-minimal-right text-info"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">The Ministries</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-planet"> </i>
                </div>
                <h4 class="info-title">Healing School</h4>
                <hr class="line-primary" />

                <p>
                  Divide details about your work into parts. Write a few lines
                  about each one. A paragraph describing a feature will.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">Citizenship of Zion Foundation school</h4>
                <hr class="line-warning" />

                <p>
                  Divide details about your product or agency work into parts.
                  Write a few lines about each one. A paragraph describing
                  feature will be a feature.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-simple-add"> </i>
                </div>
                <h4 class="info-title">Single and Abandoned Mother's Ministry</h4>
                <hr class="line-warning" />

                <p>
                  Divide details about your product or agency work into parts.
                  Write a few lines about each one. A paragraph describing
                  feature will be a feature.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">Pneuma School of the Supernatural and Bible College</h4>
                <hr class="line-success" />

                <p>
                  Divide details about your product or agency work into parts.
                  Write a few lines about each one. A paragraph describing be
                  enough.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-lg-3 col-md-12 col-sm-12">
          
            <div class="card" style="width: 20rem;">
            <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />
            <div class="card-body">
                <h4 class="card-title">My Articles</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          
            <div class="card" style="width: 20rem;">
            <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />
            <div class="card-body">
                <h4 class="card-title">My Articles</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          
            <div class="card" style="width: 20rem;">
            <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />
            <div class="card-body">
                <h4 class="card-title">My Articles</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          
            <div class="card" style="width: 20rem;">
            <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />
            <div class="card-body">
                <h4 class="card-title">My Articles</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Growth</h5>
              <h2 class="card-title">Overtime</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartBig"> </canvas></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            How Can We Pray For You?
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/gswmi.png" />
            </div>
            <div class="card-body">

              <div class="row text-center">
                <h3><span class=""> Welcome, friend. 
            These are uncertain times filled with anxiety and suffering, 
            and you may be wrestling with difficult questions, 
            or perhaps need a message of encouragement or hope. 
            May we offer to pray for you and your concerns? </span> </h3>
              </div>
            </div>
            <div class="card-footer text-center">
              <button type="button" class="btn btn-primary btn-simple" routerLink="/prayer">Summit Prayer Request</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script async src="https://widget.spreaker.com/widgets.js"></script>
</div>
