<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header">

    <!-- <img class="path2" src="assets/img/gswmi.jpeg" />   -->

    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />
 
    <div class="container mt-5 pt-5 text-center">
      <div class="col-12 col-md-12 col-sm-12 mt-5 pt-3">
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/img/gswmi.jpeg" alt="gswmi">
            </div>
            <div class="carousel-caption">
              <h3>Get Inspired</h3>
              <p>We can write nothing without the touch of the holy gost.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>The way to God</h3>
              <p>Make me know Your ways, O Lord; Teach me Your paths.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
              <h3>Teach Us</h3>
              <p>That He may teach us concerning His ways
                And that we may walk in His paths.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
              <h3>Feel God</h3>
              <p>Behold, the heaven and heaven of heavens cannot contain thee.</p>
            </div>
          </ng-template>
        </ngb-carousel> 
      </div>    
    </div>   
  </div>
  <section class="section-lg">
    <section class="section">
      <div class="container">
        <div
        id='' class="row row-grid justify-content-between align-items-center text-left"
        >
          <div class="col-lg-6 col-md-7 col-sm-12  mt-sm-5">
            <h1 id="dispalynone" class="text-white text-info">
              Gbenga Samuel Wemimo Ministry  <br />
  
              <span class="text-white text-info"> International </span>
            </h1>
            
              <h4>
                <p class="text-white mb-5 pt-5" >
                Gbenga Samuel-Wemimo Ministry International, GSWMI, has been 
                raised by the Holy Spirit to equip the saints as they sort out 
                their Homo Christus (Christ-kind) status in their walk with the
                 Holy Spirit. The Messianic Community is not ordinary, 
                 and believers are not ordinary by any standard. The ministry's
                  mandate is to bring Neppios (Baby Christians) to the point of 
                  maturity in the things of the Spirit by the leading of the Holy 
                  Ghost. Believers will henceforth live as Christ 
                and The Word instructs and not tossed to and fro by the elements 
                of this world.
              </p>
              </h4>
  
            <div class="btn-wrapper mb-3">
            </div>
            <div class="btn-wrapper">
              <div class="button-container">
                <button
                  class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                  href="https://twitter.com/GbengaWemimo"
                  target="_blank"
                >
                  <i class="fab fa-twitter"> </i>
                </button>
                <button
                class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                href="https://www.instagram.com/harmonywemimo/"
                target="_blank"
                  
                >
                  <i class="fab fa-instagram"> </i>
                </button>
                <button
                class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                href="https://www.facebook.com/showlinks2404"
                target="_blank"
                >
                  <i class="fab fa-facebook"> </i>
                </button>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-12  mt-sm-5">
            <h1 id="dispalynone" class="text-white text-info">
              Get to Know  <br />
  
              <span class="text-white text-info"> Us </span>
            </h1>
            <p class="text-white mb-5 pt-5" >
              <iframe width="560" height="315" src="https://www.youtube.com/embed/IP5wSbzJu2w" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
            <div class="btn-wrapper mb-3">
            </div>
            <div class="btn-wrapper">
              <div class="button-container">
                <button
                  class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                  href="https://twitter.com/GbengaWemimo"
                  target="_blank"
                >
                  <i class="fab fa-twitter"> </i>
                </button>
                <button
                class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                href="https://www.instagram.com/harmonywemimo/"
                target="_blank"
                  
                >
                  <i class="fab fa-instagram"> </i>
                </button>
                <button
                class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                href="https://www.facebook.com/showlinks2404"
                target="_blank"
                >
                  <i class="fab fa-facebook"> </i>
                </button>
                
              </div>
            </div>
          </div>
          <p><br/></p>
          <div class="align-items-center"><h1 class="text-white mb-3" ></h1></div>

        </div>
      </div>
    </section>
  </section>
  <section class="section section-lg">
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5 mt-lg-5 p-2 m-2">
            <div class="row ">
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-planet text-warning"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers" >
                          <!-- <p class="card-title">4 Solid</p> -->
                          <p></p>
                          <p class="card-category">Ministries</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats upper bg-default p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-volume-98 text-white"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <!-- <p class="card-title">3,653</p> -->
                          <p></p>
                          <p class="card-category">Live Radio</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-sound-wave text-info"> </i>
                        </div>
                      </div>
                      <div routerLink="/podcastlist" class="col-7 col-md-8">
                        <div class="numbers">
                          <!-- <p class="card-title">593</p> -->
                          <p></p>
                          <p  class="card-category">Podcast</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="card card-stats p-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-credit-card text-success">
                          </i>
                        </div>
                      </div>
                      <div routerLink="/blog" class="col-7 col-md-8">
                        <div class="numbers">
                          <!-- <p class="card-title">10,783</p> -->
                          <p></p>
                          <p class="card-category">Article</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <div class="align-items-center"><h1 class="text-white mb-3" >DONATE</h1></div>
              <p>We support a lot of People and Ministries with varying degrees of need.
                If the Holy Spirit has asked you to reach out to such people and/or Ministries through us, kindly do so.
                You can also support Gbenga Samuel-Wemimo's Ministry as he takes the gospel of Jesus in a unique way to the whole world
                financially by crediting <code>account no 1223897578 Access Bank</code> and/or <code>Guarantee Trust Bank Account no 0147873287</code> 
                Kindly indicate the purpose of your donation clearly through a mail or a DM
                <p><b>Thank you and God bless you</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section-lg">
    <img class="path" src="assets/img/path4.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Find Advert </h5>
              <h2 class="card-title">Here</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4>No Advert Currently</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            How Can We Pray For You?
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/gswmi.jpeg" />
            </div>
            <div class="card-body">

              <div class="row text-center">
                <h3><span class=""> Welcome, friend. 
            These are uncertain times filled with anxiety and suffering, 
            and you may be wrestling with difficult questions, 
            or perhaps need a message of encouragement or hope. 
            May we offer to pray for you and your concerns? </span> </h3>
              </div>
            </div>
            <div class="card-footer text-center">
              <button type="button" class="btn btn-info btn-simple" routerLink="/prayer">Submit Prayer Request</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>